# Postgres (Neon) — conexão direta, sem pooler
PGHOST=ep-lively-tree-b5gocc0w.c-7.us-east-2.aws.neon.tech
PGPORT=5432
PGDATABASE=neondb
PGUSER=rangofest_cdc
PGPASSWORD=

# Confluent Cloud
CONFLUENT_ENV_ID=env-j27g12
CONFLUENT_CLUSTER_ID=lkc-rrvmx7k
CONFLUENT_PRODUCER_API_KEY=
CONFLUENT_PRODUCER_API_SECRET=
CONFLUENT_CONSUMER_API_KEY=
CONFLUENT_CONSUMER_API_SECRET=
